html,
head,
body,
#main-container {
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #7E9971
}

h3 {
    padding: 0;
    margin-top: 0;
    color: #7E9971
}

body {
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


/*pop up description table*/
.mapboxgl-popup-content {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 250px;
    height: 120px
}



dt {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding-bottom: 1px;
    margin-top: 10;
    font-weight: 550;
    font-size: 12px;
    font-family: Helvetica;
    color: #3A5A40
}

dd {
    float: left;
    width: 25%;
    /* adjust the width; make sure the total of both is 100% */
    ;
    padding-bottom: 1px;
    margin: 0;
    font-size: 12px;
    font-family: Helvetica;
    font-weight: 200;
    color: #3A5A40;
}


#content-container {
    flex-grow: 1;
    display: flex;
    min-height: 0;
}

#sidebar {
    width: 450px;
    padding: 0.5rem;
    font-size: 0.9rem;
    overflow-y: scroll;
    box-sizing: border-box;
}

#map {
    height: 100%;
    flex-grow: 1;
}

.title {
    font-weight: 600;
}

@media only screen and (max-width: 800px) {
    #content-container {
        flex-direction: column-reverse;
    }

    #map {
        height: 60%;
        flex-shrink: 0;
    }

    #sidebar {
        width: 100%;
    }
}

/*legend*/
.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background:white;
    margin-right: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: auto;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 80px;
    margin-bottom: 40px;
    width: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}