html,
head,
body,
#main-container {
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


/*pop up description table*/
.mapboxgl-popup-content {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 300px;
}



dt {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding-bottom: 1px;
    margin-top: 10;
    font-weight: 550;
    font-size: 12px;
    font-family: Helvetica;
    color: #08519c
}

dd {
    float: left;
    width: 25%;
    /* adjust the width; make sure the total of both is 100% */
    ;
    padding-bottom: 1px;
    margin: 0;
    font-size: 12px;
    font-family: Helvetica;
    font-weight: 200;
    color:#08519c;
}


#content-container {
    flex-grow: 1;
    display: flex;
    min-height: 0;
}

#sidebar {
    width: 450px;
    padding: 0.5rem;
    font-size: 0.9rem;
    overflow-y: scroll;
    box-sizing: border-box;
}

#map {
    height: 100%;
    flex-grow: 1;
}

.title {
    font-weight: 600;
}

@media only screen and (max-width: 800px) {
    #content-container {
        flex-direction: column-reverse;
    }

    #map {
        height: 60%;
        flex-shrink: 0;
    }

    #sidebar {
        width: 100%;
    }
}